<div id="newleftpane" class="col-xs-4 hidden-xs vdivider">

</div>
<div id="newrightpane" class="col-xs-12 col-sm-8 container form-group">
    <nav class="navbar navbar-fixed-top bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand bg-primary" href="#/user/{{model.uid}}/website">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </a>
            <div class="navbar-header-fixed">
                <a class="navbar-brand bg-primary">New Website </a>
            </div>
            <p class="navbar-text pull-right text-primary">
                <a href="website-list.view.client.html" class="bg-primary pull-right">
                            <span class="glyphicon glyphicon-ok">
                            </span>
                </a>
            </p>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            Name
            <input placeholder="Name" class="form-control" ng-model="model.website.name">
            Description
            <textarea placeholder="Description" rows="5" class="form-control"
                      ng-model="model.website.description"> </textarea>
        </div>
    </div>

    <nav class=" navbar navbar-fixed-bottom bg-primary nav-height">
        <div class="container-fluid">
            <a href="#/user/{{model.uid}}" class="navbar-brand bg-primary pull-right">
                <span class="glyphicon glyphicon-user"></span></a>
        </div>
    </nav>
</div>