input.form-control {
    margin-bottom: 5px;
}

.nav-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}

.div-padding {
    padding-bottom: 50px;
}

.noborder {
    border: 0 none;
}

.vdivider{
    border-right:1px solid #F2F7F9;
}

.widget-icons{
    position: absolute; top:0; right:0
}

.widget-div{
    position: relative;
    cursor:move;
}

#draggablePanelList .panel-heading {
    cursor: move;
}