input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 100px;
}

.nav-padding {
    padding-top: 70px;
}

.noborder {
    border: 0 none;
}

@media  (orientation:landscape) {
    .splitleft {
    visibility: visible;
    }
}

@media  (orientation:portrait) {
    .splitleft {
        visibility: hidden;
        display: none;
    }
}

.widget-icons{
    position: absolute; top:0px; right:0px
}

.widget-div{
    position: relative
}