<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <!-- back navigation-->
        <a class="navbar-brand" href="#/user/{{model.uid}}/website">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </a>
        <div class="navbar-header-fixed">
            <a class="navbar-brand" href="#">Pages </a>
        </div>
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/new" class="navbar-text pull-right">
                            <span class="glyphicon glyphicon-plus">
                            </span>
        </a>
    </div>
</nav>
<div class="container-fluid">
    <ul class="list-unstyled" ng-model="model.websites">
        <li ng-repeat ="page in model.pages" class="text-primary list-group-item noborder">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page">{{page.name}}</a>
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}">
                <span class="glyphicon glyphicon-cog pull-right" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom nav-height">
    <div class="container-fluid">
        <a href="#/user/{{model.uid}}" class="navbar-brand pull-right">
            <span class="glyphicon glyphicon-user"></span></a>
    </div>
</nav>