<label for="itext">Text</label>
<input id="itext" ng-model="model.widget.text" class="form-control"/>
<label for="rows">Rows</label>
<input id="rows" ng-model="model.widget.rows" class="form-control" type="number"/>
<label for="ph">Placeholder</label>
<input id="ph" ng-model="model.widget.placeholder" class="form-control"/>
<label for="formatted">Formatted</label>
<input id="formatted" ng-model="model.widget.formatted" type="checkbox"/>
<a ng-click="model.deleteWidget()" class="btn btn-danger form-control">Delete</a>
