<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <!-- back navigation-->
        <a class="navbar-brand" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </a>
        <div class="navbar-header-fixed">
            <a class="navbar-brand" href="#">Widget New </a>
        </div>
        <a ng-click="model.createWidget()" class="navbar-text pull-right">
                            <span class="glyphicon glyphicon-ok">
                            </span>
        </a>
    </div>
</nav>
<div ng-switch="model.type">
    <div ng-switch-when="HEADER">
        <div ng-include="'views/widget/widget-heading.edit.client.html'"></div>
    </div>
    <div ng-switch-when="IMAGE">
        <div ng-include="'views/widget/widget-image.edit.client.html'"></div>
    </div>
    <div ng-switch-when="YOUTUBE">
        <div ng-include="'views/widget/widget-youtube.edit.client.html'"></div>
    </div>
    <div ng-switch-when="HTML">
        <div ng-include="'views/widget/widget-html.edit.client.html'"></div>
    </div>
    <div ng-switch-when="TEXT">
        <div ng-include="'views/widget/widget-text.edit.client.html'"></div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom nav-height">
    <div class="container-fluid">
        <a href="#/user/{{model.uid}}" class="navbar-brand pull-right">
            <span class="glyphicon glyphicon-user"></span></a>
    </div>
</nav>